<?xml version="1.0"?>
<config>
    <modules>
        <Wee_DeveloperToolbar>
            <version>1.0.1</version>
        </Wee_DeveloperToolbar>
    </modules>
    <global>
        <blocks>
            <developertoolbar>
                <class>Wee_DeveloperToolbar_Block</class>
            </developertoolbar>
            <developertoolbar_item>
                <class>Wee_DeveloperToolbar_Block_Toolbar_Item</class>
            </developertoolbar_item>
            <core>
                <rewrite>
                    <profiler>Wee_DeveloperToolbar_Block_Profiler</profiler>
                </rewrite>
            </core>
        </blocks>
        <helpers>
            <developertoolbar>
                <rewrite>
                    <data>Wee_DeveloperToolbar_Helper_Data</data>
                </rewrite>
            </developertoolbar>
        </helpers>
        <models>
            <core>
                <rewrite>
                    <resource>Wee_DeveloperToolbar_Model_Resource</resource>
                </rewrite>
            </core>
        </models>
    </global>
    <frontend>
        <routers>
            <developertoolbar>
                <use>standard</use>
                <args>
                    <module>Wee_DeveloperToolbar</module>
                    <frontName>developertoolbar</frontName>
                </args>
            </developertoolbar>
        </routers>
        <layout>
            <updates>
                <developertoolbar>
                    <file>developertoolbar.xml</file>
                </developertoolbar>
            </updates>
        </layout>
    </frontend>
</config>