<?xml version="1.0"?>
<config>
    <modules>
        <Cdb_DeveloperToolbar>
            <version>1.0.0</version>
        </Cdb_DeveloperToolbar>
    </modules>
    <global>
        <blocks>
            <developertoolbar>
                <class>Cdb_DeveloperToolbar_Block</class>
            </developertoolbar>
            <developertoolbar_item>
                <class>Cdb_DeveloperToolbar_Block_Toolbar_Item</class>
            </developertoolbar_item>
            <core>
                <rewrite>
                    <profiler>Cdb_DeveloperToolbar_Block_Profiler</profiler>
                </rewrite>
            </core>
        </blocks>
        <helpers>
            <developertoolbar>
                <rewrite>
                    <data>Cdb_DeveloperToolbar_Helper_Data</data>
                </rewrite>
            </developertoolbar>
        </helpers>
        <models>
            <core>
                <rewrite>
                    <resource>Cdb_DeveloperToolbar_Model_Resource</resource>
                </rewrite>
            </core>
        </models>
    </global>
    <frontend>
        <routers>
            <developertoolbar>
                <use>standard</use>
                <args>
                    <module>Cdb_DeveloperToolbar</module>
                    <frontName>developertoolbar</frontName>
                </args>
            </developertoolbar>
        </routers>
        <layout>
            <updates>
                <developertoolbar>
                    <file>developertoolbar.xml</file>
                </developertoolbar>
            </updates>
        </layout>
    </frontend>
</config>